@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-text: black;
  --color-secondary-text: #00000099;
  --color-active-text: white;
  --color-mail-text: #6666f1;
  --color-primary-background: white;
  --color-secondary-background: black;
  --color-hover-background: #00000019;
  --color-link-background: #0000007f;
  --color-primary-border: #0000004c;
  --color-secondary-border: #222;
  --color-success-background: #71bd98;
  --color-error-background: #fa9f9f;
  --color-info-background: white;
  --color-error-text: #e53e3e;
  --color-warning-text: #d69e2e;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-SemiBold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
