@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-text: #1f1d1a;
  --color-secondary-text: #afa392;
  --color-input-text: #31291e;
  --color-gray-text: #7c7872;
  --color-link-text: #866f4d;
  --color-mail-text: #6666f1;
  --color-primary-background: #ddd;
  --color-secondary-background: #e4e4e4;
  --color-dialog-header-background: #e9e1d4;
  --color-dialog-body-background: #f3f3f3;
  --color-input-background: white;
  --color-primary-border: #e2cdae;
  --color-secondary-border: #d1bc9c;
  --color-input-focus-border: #e9bd7a;
  --color-active-button: #e2d0b4;
  --color-link-button: #ebd8bb4c;
  --color-primary-button: #d8c7ad;
  --color-primary-hover-button: #dfcaaa99;
  --color-secondary-button: #c0ac8e;
  --color-secondary-hover-button: #e9e1d4;
  --color-light-button: #f3f0ee;
  --color-light-hover-button: #f1eadf;
  --color-light-active-button: #e6e1d9;
  --color-success-background: #71bd98;
  --color-error-background: #fa9f9f;
  --color-info-background: white;
  --color-error-text: #e53e3e;
  --color-warning-text: #d69e2e;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roobert";
  src: url("/fonts/Roobert-SemiBold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
